{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}
{% load files %}
{% load securitytags %}
{% block css %}
    <link href="{% static "admin/css/app.css" %}" rel="stylesheet"/>
    <link href="{% static "admin/css/admin.css" %}" rel="stylesheet"/>
    <link href="{% static "common/css/font-awesome.css" %}" rel="stylesheet"/>
{% endblock css %}
{% block page_title %}
    {% trans "Special Issues" %}
{% endblock page_title %}
{% block body %}
    <div class="row">
        <div class="col m12">
            <div>{{ object.name }}</div>
            <div>{{ object.short_name }}</div>
            <div>{{ object.description }}</div>
            <div>{{ object.open_date }}</div>
            <div>{{ object.close_date }}</div>
            <div>{{ object.journal }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <table id="files" class="small files">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Label</th>
                        <th>Uploaded</th>
                        <th>Modified</th>
                        <th>Filename</th>
                        <th>Download</th>
                        <th>History</th>
                        <th>Replace</th>
                        <th>Delete</th>
                        <th>Type</th>
                        {% if request.user.is_admin %}<th>Admin</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for file in si_documents %}
                        {% can_edit_file file article as can_edit_file_flag %}
                        {% can_view_file file as can_view_file_flag %}
                        {% can_view_file_history file article as can_view_file_history_flag %}
                        <tr>
                            <td>{{ file.pk }}</td>
                            <td class="wrap-long-text">
                                {% if not file.label %}No Label{% endif %}
                                {{ file.label }}
                            </td>
                            <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                            <td>{{ file.last_modified|date:"Y-m-d G:i" }}</td>
                            <td class="wrap-long-text">{{ file }}</td>
                            <td>
                                {% if can_view_file_flag %}
                                    <a href="{% url 'special_issue_file_download' object.pk file.pk %}"><i class="fa fa-download">
                                    &nbsp;</i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if can_view_file_history_flag %}
                                    <a href=" url 'file_history' article.pk file.pk %}?return={{ request.path|urlencode }}"><i class="fa fa-history">
                                    &nbsp;</i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if can_edit_file_flag %}
                                    <a href=" url 'article_file_replace' 'id_FIXME_' article.pk file.pk %}?return={{ request.path|urlencode }}%3Freturn%3D{{ request.GET.return|urlencode }}"><i class="fa fa-cloud-upload">&nbsp;</i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if can_edit_file_flag %}
                                    <a href=" url 'file_delete' article.pk file.pk %}?return={{ request.path|urlencode }}%3Freturn%3D{{ request.GET.return|urlencode }}"><i class="fa fa-trash">
                                    &nbsp;</i></a>
                                {% endif %}
                            </td>
                            <td>file_type article file %}</td>
                            {% if request.user.is_admin %}
                                <td>
                                    <a target="_blank" href="{% url 'admin:core_file_change' file.pk %}"><span class="fa fa-cogs">&nbsp;</span>Edit</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <form method="post"
                  enctype="multipart/form-data"
                  action="{% url 'special_issue_file_upload' object.id %}">
                {% csrf_token %}
                <input type="file" name="new-file"/>
                <!-- TODO: ask Iacopo which is better: action="view_name/PK/" or action="view_name" + <input value=PK> -->
                <input type="hidden" name="special-issue-id" value="{{ object.id }}"/>
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
{% endblock body %}
{% block js %}
    {% include "admin/elements/datatables.html" with target="#files" %}
{% endblock js %}
