{% extends "core/base.html" %}
{% load hooks %}
{% load i18n %}
{% load pages %}

{% block page_title %}{% trans "Articles" %}{% endblock page_title %}

{% block title %}{% trans "Articles" %}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <h1>{% trans "Articles" %}</h1>
        </div>
        <div class="col m8">
            {% for article in articles %}
                {% include "elements/article_listing.html" with article=article %}
                {% empty %}
                <p>No articles to display.</p>
            {% endfor %}
            <ul class="pagination">
                {% if articles.has_previous %}
                    <li class="waves-effect"><a href="?page={{ articles.previous_page_number }}"></a></li>
                    &nbsp;{% endif %}
                {{ articles.page.page_range }}
                {% for page in articles|slice_pages:3 %}
                    <li class="waves-effect {% if articles.number == page.number %}active{% endif %}"><a href="?page={{ page.number }}">{{ page.number }}</a>&nbsp;
                    </li>
                {% endfor %}
                {% if articles.has_next %}
                    <li class="waves-effect"><a href="?page={{ articles.next_page_number }}"></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock js %}
