{% extends "core/base.html" %}
{# Don't forget that one ! #}
{% load static %}

{% block body %}
    <h2>Newsletters </h2>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col s12">
                <label for="{{ form.news.id_for_label }}">
                    {% trans "Topics: " %}
                </label>
                {{ form.topics }}
            </div>
            <div class="col s12">
                {{ form.news }}
                <label for="{{ form.news.id_for_label }}">{% trans "News" %}</label>
            </div>
            <input type="submit"/>
        </div>

    </form>
{% endblock body %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock css %}

{% block js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock js %}

{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

    {{ form.media }}

{% endblock footer %}
